[package]
name = "dinotreedemojni"
version = "0.1.0"
authors = ["Ken Reed <kenakioreed@gmail.com>"]

[dependencies]
axgeom = {path = "../axgeom"}
dinotreedemo = {path="../dinotreedemo"}
jni = { version = "0.9", default-features = false }


#[target.'cfg(target_os="android")'.dependencies]
#jni = { version = "0.9", default-features = false }



[lib]
name = "sample"
crate-type = ["staticlib", "cdylib"]

[profile.release]
opt-level = 3
lto = true
debug = false
debug-assertions = false
codegen-units = 1
panic = 'unwind'
